{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    
}

body {
    height:100vh;
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: #9AD1ED;
    width: 100%;
    background-image: url(./imagen/2.jpg);
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: 100% 100vh;
    background-attachment: fixed;
    
    
} 

.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0 , 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    
}

.login-box input{
     width: 100%;
     margin-bottom: 20px;    
}

.login_container {
    background-color: #F4ECF7 ;
    width: 350px;
    border-top: solid .5rem #F39B53;
    box-shadow:  0 0 .5rem #BABCBC;
    height: 500px
}


.login_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

login_title {
    color: #8a8c8b;
}

.login_title span {
    color: #f39b53;
}

.login_img {
    width: 8rem;
    border-radius: 50%;
}

.login_form {
    display: flex;
    flex-direction: column;
    padding:  1.5rem 2rem 0;
}

input[type=text], [type=password] {
    height: .5rem;
    margin: .5rem 0;
    padding: 1rem;
    transition: all .7s;
}

input[type=text]:focus, [type=password]:focus {
    border-color: #C8C8C8;
    background-color: #EFEFEF;
}

.btn_submit {
    height: 2.5rem;
    border: none;
    background-color: #31B1E5;
    color: white;
    padding: .5px;
    margin: .5rem 0 .3rem;
}

.btn_submit:hover {
    background-color: #39A1ES;
}

.form_recover {
    color: #F39B53;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
}

.form_recover:hover {
    color: #E67E22;
}