body {
    width: 100%;
    height: :100vh;
    background-color: black;
    background-image: url('../imagen/dog-pilot-images-hd-wallpaper-3349.jpg');
    background-repeat: space;
    background-size: cover;
}
